@font-face{
    font-family: "Bungee shadow";
    src: url(Fonts/Bungee_Shade-2/BungeeShade-Regular.ttf);
}
@font-face{
    font-family: "Barlow Condense";
    src: url(Fonts/Barlow_Condensed-1/BarlowCondensed-Light.ttf);
}
@font-face{
    font-family: "Barlow Bold";
    src: url(Fonts/Barlow_Condensed-1/BarlowCondensed-Bold.ttf);
}
@font-face{
    font-family: "Bunge Outline";
    src: url(Fonts/Bungee_Outline-1/BungeeOutline-Regular.ttf);
}
@font-face{
    font-family: "Barlow Semi Condense";
    src: url(Fonts/Barlow_Semi_Condensed-1/BarlowSemiCondensed-Bold.ttf);
}
body{
    margin: 0;
    background-image: url(Images/jimi-hendrix-omslag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachemnt för att bilden ska stanna och scroll*/
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

#wrapper {
    /* height: 100% ta bort heighten? gör ingeng skillnad? höjden styrs av sitt innehål*/
    /* width: 85vw, ta bort den med? blir samma resultat utan?*/
    /* la margin runt om hela rutan istället för samma resultat*/
    background-color: rgba(48, 47, 47, 0.5);
    border-radius: 20px;
    margin: 5vh 10vw;

}
header h1 {
    font-family: "Bungee shadow";
    color: rgba(243, 242, 242, 0.7);
    font-size: 10vh;
    margin: 2vh;
}
/* nav, använder justify content center för att centrera horisontellt för att centrera nav*/

nav{
    display: flex;
    gap: 0.5vh;
    margin: 6vh 2vh;
    
}
/* flex basis för jag vill få alla till samma längd (nollställa dem) sedan flex grov 1 för jag vill dom ska ta lika mycket plats */
nav a {
    text-decoration: none;
    color: black;
    background-color:  rgba(243, 242, 242, 0.7);
    flex-basis: 0;
    flex-grow: 1;
    padding: 2vh;
    text-align: center;
    border-radius: 10px;
    font-family: "Barlow Condense";
    font-size: 3vh;
}

a:hover {
    background-color: rgba(24, 24, 24, 0.6);
    color: white;

}
/* cursor till auto för att inte få en hover effekt lika så samma färg som a så inget sker*/
a:nth-child(2) {
    border: 1px solid white;
    background-color:  rgba(243, 242, 242, 0.7);
    color: black;
    cursor: auto;
    box-shadow: 0 0 5px #fff;
    font-family: "Barlow Bold";
}

section {
    border: 1px solid white;
    background-color: rgba(29, 28, 28, 0.6);
    border-radius: 15px;
    margin: 1vh 2vh;
}

.top-row{
    display: flex;
    padding: 2vh 2vh 0.5vh 2vh;
    gap: 1vh;
}
/* eventuellt ta bort flex och column, blir samma resultat och istället lägga till margin/padding på p under*/
.content{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
}

.content h2{
    font-family: "Bunge Outline";
    font-size: 4vh;
    margin: 0;
}

.content h3{
    font-family: "Barlow semi condense";
    font-size: 3vh;
    margin-top: 0;
}

.content ul{
    margin-top: 0;
    list-style-type: none;
}

.content p:first-of-type{
   margin-bottom: 0;
}

.content ul,
.content p{
    font-family: "Barlow Condense";
    font-size: 2.5vh;
}

.album{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
/* vill att bilden ska ta 100% av hela 40%*/
.img-container{
    position: relative;
    height: 100%;
    width: 100%;
}
.album img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.img-container img:first-child{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
}
.img-container img:first-child:hover{
    opacity: 0;
}
.list-box{
    display: flex;
    gap: 1vh;
}

.list-box ol{
    background-color: #eecb00;
    color: #a30f71;
    font-family: "Barlow Condense";
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    font-size: 1vw;
    padding: 1vw;
}

.list-box li{
    margin-left: 1vw;
}

.list-box h4{
    margin: 0;
    font-size: 1.5vw;
}

.list-box ol:first-child{
    border-radius: 0 0 0 10px;
}

.list-box ol:last-child{
    border-radius: 0 0 10px 0;
}

/* ---------- HÄR BÖRJAR BOTTOM ROW = GRID ------------*/ 
/* skriver vw på bottom row för vill att texten ska stanna så, vh så minskas raden.*/ 
.bottom-row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 1vh;
    padding: 0.5vh 2vh 2vh 2vh;
}
.bottom-row p{
    margin: 0;
    padding: 1vw;
    font-size: 1.5vw;
    font-family: "Barlow Condense";

    display: flex;
    align-items: center;
}
.bottom-row p:first-child{
    background-color: rgb(209, 100, 169);
    color: #eecb00;
    grid-column: 1;
    grid-row: 1;
    border-radius: 10px 0 10px 10px;
}
.bottom-row p:nth-child(2){
    background-color: rgb(209, 100, 169);
    color: #eecb00;
    grid-column: 3 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;
}
.bottom-row img{
    grid-column: 5;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 10px;
}
.bottom-row p:nth-child(4){
    grid-column: 5;
    grid-row: 1;  
    color: white;
    align-self: end;
}
.bottom-row p:nth-child(5){
    grid-column: 6;
    grid-row: 1;
    background-color: rgb(209, 100, 169);
    color: #eecb00;
    border-radius: 10px 10px 0 10px;
}


/* ------- ANDRA bottom rows START ------- */
main > :nth-child(2) .list-box ol{
    background-color: #007ca2;
    color:beige;
}



main > :nth-child(2) .bottom-row p:first-child{
    color: #007ca2;
    background-color: beige;
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;

}

main > :nth-child(2) .bottom-row p:nth-child(2){
    grid-column: 3;
    grid-row: 1;
    color: #007ca2;
    background-color: beige;
    border-radius: 0 10px 10px 10px;
}

main > :nth-child(2) .bottom-row img{
    grid-column: 4 / span 2;
    grid-row: 1;
    border-radius: 0 10px 10px 10px;
}
main > :nth-child(2) .bottom-row p:nth-child(4){
    grid-column: 4 / span 2;
    grid-row: 1;
}

main > :nth-child(2) .bottom-row p:nth-child(5){
    grid-column: 6;
    grid-row: 1;
    color: #007ca2;
    background-color: beige;
    border-radius: 10px 10px 0 10px;
}
footer{
    padding: 2vh; 
}
footer p{
    color: white;
    font-size: 2vh;
    font-family: "Barlow Condense";
    margin: 5vh 0 0 0;
}



/* ---------- Media queries START ------------- */ 
@media (max-width: 800px){
    
}